/* タイトル */


/*====================================================================================================================
 * タイトル
 *====================================================================================================================*/

// コンテナ
#blog-title {
    background-color: $rbox-main-color;
}

// コンテナインナー
#blog-title-inner {
}

// タイトル
#title {
    @include rbox-padding($horizontal: 0.5em, $top: 0.25em, $bottom: 2em);
    color: $rbox-invert-text-color;
    font-family: $rbox-title-font-family;
    font-size: 2em;
    font-weight: bold;
    a {
        @include rbox-underline-styled-link;
    }
}

// 説明
#blog-description {
    display: none;
}
