/* カラム構成 */


/*====================================================================================================================
 * オプション
 *====================================================================================================================*/

// カラム構成化する最小幅
$rbox-columnized-min-width: $rbox-site-recommended-width !default;

// カラム間のスペース
$rbox-columnized-spacing: 1.5em !default;


/*====================================================================================================================
 * メディア
 *====================================================================================================================*/

// カラム構成メディア
@mixin rbox-columnized-media {
    @media only all and (min-width: #{$rbox-columnized-min-width}) {
        @content;
    }
}

// 非カラム構成メディア
@mixin rbox-not-columnized-media {
    @media not all and (min-width: #{$rbox-columnized-min-width}) {
        @content;
    }
}


/*====================================================================================================================
 * カラム
 *====================================================================================================================*/

// カラムコンテナ
@mixin rbox-columns-container {
    @include rbox-columnized-media {
        @include rbox-float-container;
    }
}

// カラム
@mixin rbox-column($side: left, $width: auto) {
    @include rbox-columnized-media {
        @include rbox-float($side);
        @include rbox-padding-at(opposite-position($side), ($rbox-columnized-spacing / 2));
        width: $width;
    }
}
