/*====================================================================================================================
 * アーカイブエントリ
 *====================================================================================================================*/

/*--------------------------------------------------------------------------------------------------------------------
 * レイアウト
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .archive-entries {
    @extend .panel, .panel-default;

    .archive-entry {
        @extend .panel-body;
        @include position(relative);
        border-top: 1px dashed $panel-inner-border;

        &:first-child {
            border-top-style: none;
        }

        /*------------------------------------------------------------------------------------------------------------
         * サムネイル配置枠
         *------------------------------------------------------------------------------------------------------------*/

        &:before {
            @extend .pull-left;
            @include margin($right: sizes-to(left, $panel-body-padding));
            @include position(relative, $left: 0, $top: 0);
            @include square($archive-entries-thumbnail-size);
        }

        /*------------------------------------------------------------------------------------------------------------
         * ヘッダ
         *------------------------------------------------------------------------------------------------------------*/

        .archive-entry-header {
            @include margin(
                $top: sizes-to(top, $panel-body-padding) / 2,
                $bottom: sizes-to(bottom, $panel-body-padding) / 2
            );
        }

        /*------------------------------------------------------------------------------------------------------------
         * カテゴリ
         *------------------------------------------------------------------------------------------------------------*/

        .categories {
            @extend .text-right;
            @include margin($top: sizes-to(top, $panel-body-padding) / 2);
        }

        /*------------------------------------------------------------------------------------------------------------
         * サムネイル
         *------------------------------------------------------------------------------------------------------------*/

        .entry-thumb-link {
            @include margin($panel-body-padding);
            @include position(absolute, $left: 0, $top: 0);
            @include square($archive-entries-thumbnail-size);
        }

        /*------------------------------------------------------------------------------------------------------------
         * コンテンツ
         *------------------------------------------------------------------------------------------------------------*/

        .archive-entry-body {
            @extend .hidden;
        }

    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * ヘッダ
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .archive-entries .archive-entry .archive-entry-header {

    /*----------------------------------------------------------------------------------------------------------------
     * 日付
     *----------------------------------------------------------------------------------------------------------------*/

    .date {
        @extend .weakly-text, .pull-right;
        @include margin($left: $line-height-computed / 2);
    }

    /*----------------------------------------------------------------------------------------------------------------
     * タイトル
     *----------------------------------------------------------------------------------------------------------------*/

     .entry-title {
        @extend .panel-title;
     }

}

/*--------------------------------------------------------------------------------------------------------------------
 * カテゴリ
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .archive-entries .archive-entry .categories {

    a {
        @extend .label, .label-info;
        @include fa-before($fa-var-tag);
    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * サムネイル
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .archive-entries .archive-entry .entry-thumb-link {
    @extend .thumbnail;

    .entry-thumb {
        @include square(100%);
        background-size: cover;
    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * コンテンツ
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .archive-entries .archive-entry .archive-entry-body {

    /*----------------------------------------------------------------------------------------------------------------
     * 概要
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-description {
    }

    /*----------------------------------------------------------------------------------------------------------------
     * ソーシャルボタン
     *----------------------------------------------------------------------------------------------------------------*/

    .social-buttons {
    }

}
