/*====================================================================================================================
 * エントリ
 *====================================================================================================================*/

/*--------------------------------------------------------------------------------------------------------------------
 * レイアウト
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .entry .entry-inner {
    @extend .panel, .panel-default;

    /*----------------------------------------------------------------------------------------------------------------
     * ヘッダ
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-header {
        @extend .panel-heading;
        background-color: $panel-bg;
    }

    /*----------------------------------------------------------------------------------------------------------------
     * コンテンツ
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-content {
        @extend .panel-body;
    }

    /*----------------------------------------------------------------------------------------------------------------
     * フッタ
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-footer {
        @extend .panel-footer;
    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * ヘッダ
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .entry .entry-inner .entry-header {
    @extend .clearfix;

    /*----------------------------------------------------------------------------------------------------------------
     * 日付
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-date {
        @extend .bg-primary, .pull-left;
        @include margin(
            $left: - sizes-to(left, $panel-heading-padding),
            $right: sizes-to(left, $panel-heading-padding)
        );

        a {
            @include padding($panel-heading-padding);
            display: block;

            time {
                @extend .text-center;
                display: block;

                .date-year, .date-month, .hyphen {
                    @extend small;
                }

                .date-month ~ .hyphen {
                    @extend .hidden;
                }

                .date-day {
                    display: block;
                    font-size: $font-size-large;
                }

            }

        }

    }

    /*----------------------------------------------------------------------------------------------------------------
     * タイトル
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-title {
        @extend .panel-title;
        @include padding(
            $top: sizes-to(top, $panel-heading-padding),
            $bottom: sizes-to(bottom, $panel-heading-padding),
            $horizontal: 0
        );
    }

    /*----------------------------------------------------------------------------------------------------------------
     * カテゴリ
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-categories {
        @extend .text-right;
        @include margin($top: sizes-to(top, $panel-heading-padding) / 2);

        a {
            @extend .label, .label-info;
            @include fa-before($fa-var-tag);
        }

    }

    /*----------------------------------------------------------------------------------------------------------------
     * カスタム
     *----------------------------------------------------------------------------------------------------------------*/

    .customized-header {
        @extend .hidden;

        .entry-header-html {
        }

    }

    /*----------------------------------------------------------------------------------------------------------------
     * メニュー
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-header-menu {
        @extend .hidden;
    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * コンテンツ
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .entry .entry-inner .entry-content {
    @extend .clearfix;

    /*----------------------------------------------------------------------------------------------------------------
     * 見出し
     *----------------------------------------------------------------------------------------------------------------*/

    h1, h2, h3, h4, h5, h6 {
        @include margin(
            $vertical: 1.5em,
            $left: - sizes-to(left, $panel-body-padding),
            $right: - sizes-to(right, $panel-body-padding)
        );
        @include padding($horizontal: 0.5em);
        border-left: 0.25em solid $brand-primary;
    }

    h1:after, h2:after {
        border-bottom: 1px dashed $panel-inner-border;
        content: "";
        display: block;
    }

    /*----------------------------------------------------------------------------------------------------------------
     * イメージ
     *----------------------------------------------------------------------------------------------------------------*/

    > p:first-child span[itemtype="http://schema.org/Photograph"] {
        @include margin(
            $top: - sizes-to(top, $panel-body-padding),
            $left: - sizes-to(left, $panel-body-padding),
            $right: - sizes-to(right, $panel-body-padding)
        );
        display: block;

        img {
            @include size($width: 100%);
        }

    }

    > p:nth-child(n+2) span[itemtype="http://schema.org/Photograph"] {

        .hatena-fotolife {
            @extend .thumbnail
        }

    }

    > p span[itemtype="http://schema.org/Photograph"] + a {
        @extend .weakly-text, .text-right;
        display: block;
    }

    /*----------------------------------------------------------------------------------------------------------------
     * 続きを読む
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-see-more {
        @extend .btn, .btn-lg, .btn-warning, .pull-right;
        @include fa-before($fa-var-arrow-circle-right);
    }

    /*----------------------------------------------------------------------------------------------------------------
     * About Me
     *----------------------------------------------------------------------------------------------------------------*/

    body.page-about & dl {
        @include margin(0);

        dt {
            @extend h2;

            &:first-child {
                @include margin($top: 0);
            }

        }

        dd {
            @extend p;
        }

    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * フッタ
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .entry .entry-inner .entry-footer {
    @extend .clearfix;

    // インデックスページ (URL: /),
    // 年月日別リストページ (URL: /entries/{year}/{month}/{day}),
    // カテゴリ別リストページ (URL: /category/{category}) では非表示
    body.page-index &,
    body.page-entries-year-month-day &,
    body.page-category-category_name & {
        @extend .hidden;
    }

    /*----------------------------------------------------------------------------------------------------------------
     * 投稿者, 投稿日時
     *----------------------------------------------------------------------------------------------------------------*/

    .entry-footer-section {
        @extend .weakly-text, .pull-right;

        .author {
            @include fa-before($fa-var-pencil);
            @include margin($left: 1em);
        }

        .entry-footer-time {
            @include fa-before($fa-var-clock-o);
            @include margin($left: 1em);
        }

    }

    /*----------------------------------------------------------------------------------------------------------------
     * スター
     *----------------------------------------------------------------------------------------------------------------*/

    .hatena-star-container {
        @extend .pull-left;
    }

    /*----------------------------------------------------------------------------------------------------------------
     * ソーシャルボタン
     *----------------------------------------------------------------------------------------------------------------*/

    .social-buttons {
        clear: both;
    }

    /*----------------------------------------------------------------------------------------------------------------
     * カスタム
     *----------------------------------------------------------------------------------------------------------------*/

    .customized-footer {
        @extend .hidden;

        .entry-footer-html {
        }

    }

    /*----------------------------------------------------------------------------------------------------------------
     * コメント
     *----------------------------------------------------------------------------------------------------------------*/

    .comment-box {

        .comment {
            @extend .list-group;
            @include margin($bottom: $line-height-computed / 2);

            .entry-comment {
                @extend .list-group-item;

                .comment-user-name {
                }

                .comment-content {
                }

                .comment-metadata {
                    @extend .weakly-text;
                }

            }

        }

        .leave-comment-title {
            @extend .btn, .btn-info;
            @include fa-before($fa-var-commenting);
        }

    }

}
