/*====================================================================================================================
 * ヘッダ
 *====================================================================================================================*/

/*--------------------------------------------------------------------------------------------------------------------
 * Hatena ヘッダ
 *--------------------------------------------------------------------------------------------------------------------*/

#globalheader-container {
    background-color: $hatena-header-bg-color;
    color: $hatena-header-text-color;

    @at-root #globalheader {
    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * タイトル
 *--------------------------------------------------------------------------------------------------------------------*/

#blog-title {
    @extend .bg-primary;

    @at-root #blog-title-inner {

        @at-root #blog-title-content {

            @at-root #title {
                @include padding($top: 0.5em, $bottom: 1em, $horizontal: 0.5em);
                font-family: $title-font-family;
                font-size: $title-font-size;
            }

            @at-root #blog-description {
                @extend .hidden;
            }

        }

    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * カスタムヘッダ
 *--------------------------------------------------------------------------------------------------------------------*/

#top-editarea {
    @extend .bg-secondary;
    @include margin($top: 0, $bottom: $line-height-computed);
    @include size($min-height: $line-height-computed / 2);

    @at-root #top-editarea-inner {
    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * トピックパス, アーカイブヘッダ
 *--------------------------------------------------------------------------------------------------------------------*/

#top-box .breadcrumb,
#main-inner .archive-heading {
    @extend .alert, .alert-info;
    @include margin($top: 0, $bottom: $line-height-computed);
    font-size: $font-size-base;
    font-weight: normal;
}

/*--------------------------------------------------------------------------------------------------------------------
 * 検索結果
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .search-result {
    @include margin(0);
}

/*--------------------------------------------------------------------------------------------------------------------
 * 検索結果フォーム
 *--------------------------------------------------------------------------------------------------------------------*/

#main-inner .search-result-form {
    @extend .hidden;
}
