/*====================================================================================================================
 * サイドバー
 *====================================================================================================================*/

/*--------------------------------------------------------------------------------------------------------------------
 * レイアウト
 *--------------------------------------------------------------------------------------------------------------------*/

#box2-inner .hatena-module {
    @extend .panel, .panel-default;

    /*------------------------------------------------------------------------------------------------------------
     * ヘッダ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-title {
        @extend strong, .panel-heading;
    }

    /*------------------------------------------------------------------------------------------------------------
     * コンテンツ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-body {
        @extend .panel-body;
    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * Search
 *--------------------------------------------------------------------------------------------------------------------*/

#box2-inner .hatena-module-search-box {

    /*------------------------------------------------------------------------------------------------------------
     * ヘッダ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-title {
        @include fa-before($fa-var-search);
    }

    /*------------------------------------------------------------------------------------------------------------
     * コンテンツ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-body {
        @include padding(0);

        .search-form {

            .search-module-input {
                @include padding(1em);
                @include size(100%, 100%);
                border-style: none;
            }

            .search-module-button {
                @extend .hidden;
            }

        }

    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * About Me
 *--------------------------------------------------------------------------------------------------------------------*/

#box2-inner .hatena-module-profile {

    /*------------------------------------------------------------------------------------------------------------
     * ヘッダ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-title {
        @include fa-before($fa-var-smile-o);
    }

    /*------------------------------------------------------------------------------------------------------------
     * コンテンツ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-body {

        .profile-icon-link {
            @extend .thumbnail, .pull-left;
            @include square($sidebar-about-me-icon-size);
            @include margin(
                $right: sizes-to(left, $panel-body-padding),
                $bottom: sizes-to(top, $panel-body-padding)
            );
            background-image: $sidebar-about-me-icon-image;
            background-size: cover;

            .profile-icon {
                @extend .hidden;
            }

        }

        .id {
            @include margin($bottom: sizes-to(top, $panel-body-padding));
            display: block;
        }

        .profile-description {
        }

        .hatena-follow-button-box {
            @include margin(0);
            clear: both;
        }

    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * New Entries
 *--------------------------------------------------------------------------------------------------------------------*/

#box2-inner .hatena-module-recent-entries {

    /*------------------------------------------------------------------------------------------------------------
     * ヘッダ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-title {
        @include fa-before($fa-var-list);
    }

    /*------------------------------------------------------------------------------------------------------------
     * コンテンツ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-body {

        .recent-entries {
            @extend .list-unstyled;
            @include margin(0);
            @include padding(0);

            .recent-entries-item {
                @include margin(0, $bottom: sizes-to(top, $panel-body-padding));
                @include padding(0);

                &:last-child {
                    @include margin($bottom: 0);
                }

                .recent-entries-item-inner {

                    .recent-entries-image-link {
                        @extend .thumbnail, .pull-left;
                        @include square($sidebar-entries-thumbnail-size);
                        @include margin(0, $right: sizes-to(left, $panel-body-padding) / 2);
                        clear: both;

                        .recent-entries-image {
                            @include square(100%);
                            @include margin(0);
                            @include padding(0);
                        }

                    }

                    .recent-entries-title-link {
                        word-break: break-all;
                        word-wrap: break-word;
                    }

                }

            }

        }

    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * Tweets
 *--------------------------------------------------------------------------------------------------------------------*/

#box2-inner .hatena-module-html {

    /*------------------------------------------------------------------------------------------------------------
     * ヘッダ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-title {
        @include fa-before($fa-var-twitter);
    }

    /*------------------------------------------------------------------------------------------------------------
     * コンテンツ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-body {
        @include padding(0);

        .hatena-module-tweets-top {
            @include padding($line-height-computed / 4);
            border-bottom: 1px dashed $panel-inner-border;

            .twitter-follow-link {
                @extend .btn, .btn-block, .btn-info;
                @include fa-before($fa-var-twitter);
            }

        }

        .hatena-module-tweets-timeline {
            @include padding($left: $line-height-computed / 2);

            iframe {
                width: 100%;
            }

        }

    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * Category
 *--------------------------------------------------------------------------------------------------------------------*/

#box2-inner .hatena-module-category {

    /*------------------------------------------------------------------------------------------------------------
     * ヘッダ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-title {
        @include fa-before($fa-var-tags);
    }

    /*------------------------------------------------------------------------------------------------------------
     * コンテンツ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-body {

        .hatena-urllist {
            @extend .list-inline;
            @include margin(0);
            @include padding(0);

            li {
                @include margin(0);
                @include padding(0);

                a {
                    @extend .label, .label-info;
                    @include fa-before($fa-var-tag);
                }

            }

        }

    }

}

/*--------------------------------------------------------------------------------------------------------------------
 * Archive
 *--------------------------------------------------------------------------------------------------------------------*/

#box2-inner .hatena-module-archive {

    /*------------------------------------------------------------------------------------------------------------
     * ヘッダ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-title {
        @include fa-before($fa-var-calendar);
    }

    /*------------------------------------------------------------------------------------------------------------
     * コンテンツ
     *------------------------------------------------------------------------------------------------------------*/

    .hatena-module-body {

        .hatena-urllist {
            @include margin(0);
            @include padding(0);

            .archive-module-year {

                .archive-module-button {

                    .archive-module-hide-button {
                    }

                    .archive-module-show-button {
                    }

                }

                .archive-module-year-title {
                }

                .archive-module-months {

                    .archive-module-month {

                        .archive-module-month-title {
                        }

                    }

                }

            }

        }

    }

}
