/* テーマ */


/*====================================================================================================================
 * サポートブラウザ
 *====================================================================================================================*/

// ブラウザサポートバージョン
$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;
$browser-minimum-versions: (
    "chrome": "21",
    "firefox": "3.6",
    "ie": "8",
    "opera": "11",
    "safari": "4"
);


/*====================================================================================================================
 * フォント
 *====================================================================================================================*/

// ゴシック
$rbox-sans-serif-font-family:
    "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN",
    "メイリオ",
    "Meiryo",
    sans-serif;

// 等幅
$rbox-monospace-font-family:
    "Osaka－等幅",
    "Osaka-mono",
    "ＭＳ ゴシック",
    "MS Gothic",
    monospace;

// ベース
$rbox-base-font-family: $rbox-sans-serif-font-family;

// タイトル
$rbox-title-font-family: "Verdana", $rbox-base-font-family;

// コード
$rbox-code-font-family: "Courier New", "Courier", $rbox-monospace-font-family;


/*====================================================================================================================
 * カラー
 *====================================================================================================================*/

// ベース
$rbox-base-color: rgb(240, 240, 240);
$rbox-light-base-color: lighten($rbox-base-color, 10%);
$rbox-dark-base-color: darken($rbox-base-color, 20%);

// テキスト
$rbox-text-color: rgb(60, 60, 60);
$rbox-light-text-color: lighten($rbox-text-color, 30%);
$rbox-invert-text-color: rgb(255, 255, 255);

// メイン
$rbox-main-color: hsl(235deg, 30%, 60%);
$rbox-light-main-color: lighten($rbox-main-color, 10%);
$rbox-dark-main-color: darken($rbox-main-color, 20%);

// サブ
$rbox-sub-color: adjust-color($rbox-main-color, $hue: -80deg);
$rbox-light-sub-color: lighten($rbox-sub-color, 10%);

// アクセント
$rbox-accent-color: adjust-color($rbox-main-color, $hue: -220deg, $saturation: 40%, $lightness: 5%);
$rbox-light-accent-color: lighten($rbox-accent-color, 10%);

// Twitter
$rbox-twitter-color: hsl(190deg, 65%, 60%);
$rbox-light-twitter-color: lighten($rbox-twitter-color, 10%);
$rbox-twitter-text-color: white;


/*====================================================================================================================
 * サイトサイズ
 *====================================================================================================================*/

// 最小幅
$rbox-site-min-width: 320px;

// 最大幅
$rbox-site-max-width: 1000px;

// 推奨幅
$rbox-site-recommended-width: 800px;


/*====================================================================================================================
 * カラム構成
 *====================================================================================================================*/

// メインカラム位置
$rbox-main-column-side: left;

// メインカラム幅
$rbox-main-column-width: 70.71%;

// モジュールカラム位置
$rbox-module-column-side: right;

// モジュールカラム幅
$rbox-module-column-width: 29.29%;
