/*====================================================================================================================
 * テーマ
 *====================================================================================================================*/

/*--------------------------------------------------------------------------------------------------------------------
 * Bootstrap カラー
 *--------------------------------------------------------------------------------------------------------------------*/

$brand-primary: hsl(235deg, 30%, 60%);
$brand-info: hsl(190deg, 60%, 60%);
$brand-warning: hsl(35deg, 80%, 60%);

$body-bg: hsl(0deg, 0%, 98%);
$text-color: hsl(0deg, 0%, 33%);
$link-color: $brand-primary;

/*--------------------------------------------------------------------------------------------------------------------
 * Bootstrap フォント
 *--------------------------------------------------------------------------------------------------------------------*/

$font-family-sans-serif:
    "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN",
    "メイリオ",
    "Meiryo",
    sans-serif;
$font-family-monospace:
    "Osaka－等幅",
    "Osaka-mono",
    "ＭＳ ゴシック",
    "MS Gothic",
    monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 14px;

$line-height-base: 1.5;
$line-height-computed: floor($font-size-base * $line-height-base);

$icon-font-path: "/fonts/";

/*--------------------------------------------------------------------------------------------------------------------
 * Bootstrap グリッド
 *--------------------------------------------------------------------------------------------------------------------*/

$grid-columns: 12;
$grid-gutter-width: $line-height-computed;

/*--------------------------------------------------------------------------------------------------------------------
 * Bootstrap サムネイル
 *--------------------------------------------------------------------------------------------------------------------*/

$thumbnail-padding: 0;

/*--------------------------------------------------------------------------------------------------------------------
 * Bootstrap 見出し
 *--------------------------------------------------------------------------------------------------------------------*/

$headings-line-height: $line-height-base;

$headings-font-weight: bold;

$font-size-h1: floor($font-size-base * 1.25);
$font-size-h2: floor($font-size-base * 1.25);
$font-size-h3: $font-size-base;
$font-size-h4: $font-size-base;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-base;

/*--------------------------------------------------------------------------------------------------------------------
 * Bootstrap コード
 *--------------------------------------------------------------------------------------------------------------------*/

$code-color: $text-color;

/*--------------------------------------------------------------------------------------------------------------------
 * Bootstrap 引用ブロック
 *--------------------------------------------------------------------------------------------------------------------*/

$blockquote-font-size: inherit;

/*--------------------------------------------------------------------------------------------------------------------
 * Font Awesome フォント
 *--------------------------------------------------------------------------------------------------------------------*/

$fa-font-path: "/fonts";

/*--------------------------------------------------------------------------------------------------------------------
 * 共通
 *--------------------------------------------------------------------------------------------------------------------*/

$brand-secondary: darken($brand-primary, 20%);

/*--------------------------------------------------------------------------------------------------------------------
 * ヘッダ
 *--------------------------------------------------------------------------------------------------------------------*/

$hatena-header-bg-color: hsl(0deg, 0%, 20%);
$hatena-header-text-color: hsl(0deg, 0%, 100%);

$title-font-family: "Verdana", $font-family-base;
$title-font-size: 2em;

/*--------------------------------------------------------------------------------------------------------------------
 * アーカイブエントリ
 *--------------------------------------------------------------------------------------------------------------------*/

$archive-entries-thumbnail-size: $line-height-computed * 6;

/*--------------------------------------------------------------------------------------------------------------------
 * サイドバー
 *--------------------------------------------------------------------------------------------------------------------*/

$sidebar-about-me-icon-size: $line-height-computed * 5;
$sidebar-about-me-icon-image: url("/images/profile.png");

$sidebar-entries-thumbnail-size: $line-height-computed * 5;
