/* ベース */


/*====================================================================================================================
 * 汎用
 *====================================================================================================================*/

// ユニバーサル
* {
    @include box-sizing(border-box);
}

// HTML
html {
    @include rbox-text-size-adjust-none;
    background-color: $rbox-base-color;
    color: $rbox-text-color;
    font: 0.875em/1.5 $rbox-base-font-family;
    letter-spacing: 0.0625em;
    word-wrap: break-word;
}

// ボディ
body {
}


/*====================================================================================================================
 * コンテナ
 *====================================================================================================================*/

// コンテナ
#container {
}

// コンテナインナー
#container-inner {
}

// コンテナ子要素
@mixin rbox-container-child {
}

// コンテナ子要素インナー
@mixin rbox-container-child-inner {
    @include rbox-center-block;
    @include rbox-site-width-range;
}

// コンテナ子要素インナーコンテンツ
@mixin rbox-container-child-inner-content {
    @include rbox-container-child-inner;
    @include rbox-not-wide-width-media {
        @include rbox-padding($horizontal: 0.5em);
    }
}


/*====================================================================================================================
 * コンテナ::タイトル
 *====================================================================================================================*/

// コンテナ
#blog-title {
    @include rbox-container-child;
}

// コンテナインナー
#blog-title-inner {
    @include rbox-container-child-inner;
}


/*====================================================================================================================
 * コンテナ::ヘッダ
 *====================================================================================================================*/

// コンテナ
#top-editarea {
    @include rbox-container-child;
}

// コンテナインナー
#top-editarea-inner {
    @include rbox-container-child-inner;
}


/*====================================================================================================================
 * コンテナ::トピックパス
 *====================================================================================================================*/

// コンテナ
#top-box {
    @include rbox-container-child;
}

// コンテナインナー
#top-box .breadcrumb {
    @include rbox-container-child-inner-content;
}


/*====================================================================================================================
 * コンテナ::コンテンツ
 *====================================================================================================================*/

// コンテナ
#content {
    @include rbox-container-child;
}

// コンテナインナー
#content-inner {
    @include rbox-columns-container;
    @include rbox-container-child-inner-content;
}

// メインラッパー
#wrapper {
    @include rbox-column($rbox-main-column-side, $rbox-main-column-width);
}

// モジュールラッパー
#box2 {
    @include rbox-column($rbox-module-column-side, $rbox-module-column-width);
}


/*====================================================================================================================
 * コンテナ::フッタ
 *====================================================================================================================*/

// コンテナ
#bottom-editarea {
    @include rbox-container-child;
}

// コンテナインナー
#bottom-editarea-inner {
    @include rbox-container-child-inner;
}
