/* ベース */


/*====================================================================================================================
 * 汎用
 *====================================================================================================================*/

// ユニバーサル
* {
    @include box-sizing(border-box);
}

// HTML
html {
    @include rbox-text-size-adjust-none;
    background-color: $rbox-base-color;
    color: $rbox-text-color;
    font: 0.875em/1.5 $rbox-base-font-family;
    letter-spacing: 0.0625em;
    word-wrap: break-word;
}

// ボディ
body {
}
