/* コンテナ::コンテンツ::メイン::エントリ */


/*====================================================================================================================
 * エントリ
 *====================================================================================================================*/

// コンテナ
#main .entry {
    @include rbox-content-item-box;
}

// コンテナインナー
#main .entry-inner {
}


/*====================================================================================================================
 * ヘッダ
 *====================================================================================================================*/

// コンテナ
#main .entry .entry-header {
    @include rbox-float-container;
    @include rbox-margin($bottom: 1em);
    @include rbox-padding($horizontal: 1em, $top: 1em, $bottom: 0.25em);
    border-bottom: dashed 1px $rbox-dark-base-color;

    // 日付
    .date {
        @include rbox-float(left);
        @include rbox-margin($left: -1em, $right: 0.75em, $bottom: 0.5em);
        display: block;
        a {
            @include rbox-background-color-styled-link(
                $rbox-invert-text-color, $rbox-main-color, $rbox-light-main-color);
            display: block;
            time {
                @include rbox-padding($horizontal: 0.75em, $vertical: 0.5em);
                display: block;
                .date-year, .date-month, .hyphen {
                    font-size: 0.75em;
                }
                .date-month ~ .hyphen {
                    display: none;
                }
                .date-day {
                    display: block;
                    font-size: 1.25em;
                    text-align: center;
                }
            }
        }
    }

    // タイトル
    .entry-title {
        @include min-height(2.5em);
        display: block;
        font-size: 1.25em;
        font-weight: bold;
        overflow: hidden;
        a {
            @include rbox-color-styled-link($rbox-text-color, $rbox-accent-color);
            display: block;
        }
    }

    // カテゴリ
    .categories {
        @include rbox-float(right);
        display: block;
        font-size: 0.75em;
        text-align: right;
        a {
            @include rbox-category-link($with-icon-spacing: true);
        }
    }

    // カスタム
    .customized-header {
        .entry-header-html {
        }
    }

    // メニュー
    .entry-header-menu {
        display: none !important;
    }

}


/*====================================================================================================================
 * コンテンツ
 *====================================================================================================================*/

// 見出し
@mixin rbox-entry-content-caption($font-scale: 1, $border-scale: 1, $with-border-bottom: false) {
    @include rbox-margin($horizontal: (-1em / $font-scale), $vertical: 1.5em);
    @include rbox-padding($horizontal: 0.5em);
    border-left: solid (0.25em / $font-scale * $border-scale) $rbox-main-color;
    font-size: #{$font-scale}em;
    font-style: normal;
    font-weight: bold;
    @if $with-border-bottom {
        &:after {
            border-bottom: dashed 1px $rbox-dark-base-color;
            content: "";
            display: block;
        }
    }
}

// アイテム
@mixin rbox-entry-content-item {
    @include rbox-margin($bottom: 1.5em);
}

// コンテナ
#main .entry .entry-content {
    @include rbox-float-container;
    @include rbox-margin($bottom: 1.5em);
    @include rbox-padding($horizontal: 1em);

    // 見出し
    h1, h2 {
        @include rbox-entry-content-caption($font-scale: 1.25, $border-scale: 1.5, $with-border-bottom: true);
    }
    h3 {
        @include rbox-entry-content-caption($font-scale: 1, $border-scale: 1);
    }
    h4, h5, h6 {
        @include rbox-entry-content-caption($font-scale: 1, $border-scale: 0);
    }

    // 段落
    p {
        @include rbox-entry-content-item;
    }

    // 順不同リスト
    ul {
        @include rbox-entry-content-item;
        @include rbox-padding($left: 2em);
        list-style-type: disc;
    }

    // 順序付リスト
    ol {
        @include rbox-entry-content-item;
        @include rbox-padding($left: 2.5em);
        list-style-type: decimal;
    }

    // 説明リスト
    dl {
        @include rbox-entry-content-item;
        dt {
            font-weight: bold;
        }
        dd {
            @include rbox-margin($left: 1.5em);
        }
    }

    // テーブル
    table {
        @include border-radius(0.25em);
        @include rbox-entry-content-item;
        @include rbox-margin(1.5em);
        border: solid 1px $rbox-dark-base-color;
        border-collapse: separate;
        border-spacing: 1px;
        caption-side: top;
        empty-cells: show;
        table-layout: auto;
        th, td {
            @include border-radius(0.125em);
            @include rbox-padding($horizontal: 0.5em, $vertical: 0.25em);
            border: solid 1px $rbox-dark-base-color;
        }
        th {
            font-weight: bold;
            text-align: center;
        }
    }

    // ブロック引用
    blockquote {
        @include border-radius(0.25em);
        @include rbox-entry-content-item;
        @include rbox-margin($horizontal: 0.5em);
        @include rbox-padding(1em);
        @include rbox-position(relative);
        border: dashed 1px $rbox-dark-base-color;
        &:before, &:after {
            color: $rbox-light-text-color;
            display: block;
            font-size: 1.5em;
        }
        &:before {
            @include rbox-icon-awesome("\f10d");
            @include rbox-position(absolute, $left: -0.25em, $top: -0.25em);
        }
        &:after {
            @include rbox-icon-awesome("\f10e");
            @include rbox-position(absolute, $right: -0.25em, $bottom: -0.25em);
        }
        cite {
            color: $rbox-light-text-color;
        }
    }

    // 整形済テキスト
    pre {
        @include rbox-entry-content-item;
        overflow: auto;
        white-space: pre;
        word-wrap: normal;
    }

    // コード
    code, .code {
        @include border-radius(0.25em);
        background-color: $rbox-base-color;
        background-color: rgba($rbox-base-color, 0.5);
        color: $rbox-text-color;
        font-family: $rbox-code-font-family;
    }

    // インラインコード
    code {
        @include rbox-margin(0);
        @include rbox-padding($horizontal: 0.25em, $vertical: 0);
        @include rbox-soft-border;
        border-style: none;
    }

    // コードブロック
    pre.code {
        @include rbox-padding(1em);
        border: dashed 1px $rbox-dark-base-color;
        &::-webkit-scrollbar {
            background-color: transparent;
            &:horizontal {
                height: 0.5em;
            }
        }
        &::-webkit-scrollbar-thumb {
            @include border-radius(0.25em);
            background-color: $rbox-dark-base-color;
            &:horizontal {
                height: 0.5em;
            }
        }
    }

    // フォトライフイメージ
    .hatena-fotolife {
        @include rbox-center-block;
        @include rbox-soft-border;
    }
    p:first-child span[itemtype="http://schema.org/Photograph"] {
        @include rbox-margin($horizontal: -1em, $top: -1em);
        display: block;
        a {
            img {
                width: 100%;
            }
        }
    }
    span[itemtype="http://schema.org/Photograph"] ~ a {
        @include rbox-underline-styled-link($rbox-light-text-color);
        display: block;
        font-size: 0.75em;
        text-align: right;
    }

    // Amazon商品紹介
    .hatena-asin-detail {
        @include border-radius(0.25em);
        a {
        }
        .hatena-asin-detail-info {
            .hatena-asin-detail-title {
                overflow: hidden;
            }
            ul {
                overflow: hidden;
            }
        }
    }

    // 続きを読むリンク
    .entry-see-more {
        @include rbox-color-styled-link($rbox-accent-color, $rbox-light-accent-color);
        @include rbox-float(right);
        font-size: 1.125em;
        &:before {
            @include rbox-icon-awesome-with-spacing("\f0a9", $spacing: right);
            font-size: 1.25em;
        }
    }

    // アバウトページの場合
    body.page-about & {
        dl {
            @include rbox-float-container;
            @include rbox-margin(0);
            display: block;
            dt {
                @include rbox-entry-content-caption($font-scale: 1.25, $border-scale: 1.5, $with-border-bottom: true);
                display: block;
            }
            dd {
                @include rbox-entry-content-item;
                display: block;
                .icon-pro {
                    display: none;
                }
            }
        }
    }

}
