/* コンテナ::フッタ */


/*====================================================================================================================
 * フッタ
 *====================================================================================================================*/

// コンテナ
#bottom-editarea {
    background-color: $rbox-dark-main-color;
    color: $rbox-invert-text-color;
}

// コンテナインナー
#bottom-editarea-inner {
    @include rbox-padding($vertical: 3em);

    // アドレス
    address {
        font-style: italic;
        text-align: center;
        a {
            @include rbox-underline-styled-link;
        }
    }

}
