/* コンテナ::コンテンツ::サイドバー::モジュール */


/*====================================================================================================================
 * モジュール
 *====================================================================================================================*/

// コンテナ
#box2 .hatena-module {
    @include rbox-content-item-box;

    // タイトル
    .hatena-module-title {
        @include border-top-radius(inherit);
        @include rbox-padding($horizontal: 0.5em, $vertical: 0.25em);
        background-color: $rbox-light-main-color;
        color: $rbox-invert-text-color;
        a {
            @include rbox-underline-styled-link;
        }
    }

    // ボディ
    .hatena-module-body {
    }

}


/*====================================================================================================================
 * モジュール#Search
 *  [Title]
 *      Search
 *====================================================================================================================*/

// コンテナ
#box2 .hatena-module-search-box {

    // タイトル
    .hatena-module-title {
        &:before {
            @include rbox-icon-awesome("\f002");
        }
    }

    // ボディ
    .hatena-module-body {
        form {
            @include rbox-margin(0);
            @include rbox-padding(0);
            height: 100%;
            width: 100%;
            .search-module-input {
                @include rbox-margin(0);
                @include rbox-padding(1em);
                background-color: transparent;
                border-style: none;
                height: 100%;
                width: 100%;
            }
            .search-module-button {
                display: none;
            }
        }
    }

}


/*====================================================================================================================
 * モジュール#AboutMe
 *  [Title]
 *      About Me
 *====================================================================================================================*/

// プロフィールアイコンイメージ
$rbox-profile-icon: "profile-icon.png";
$rbox-profile-icon-2x: "profile.png";

// コンテナ
#box2 .hatena-module-profile {

    // タイトル
    .hatena-module-title {
        &:before {
            @include rbox-icon-awesome("\f118");
        }
    }

    // ボディ
    .hatena-module-body {
        @include rbox-float-container;
        @include rbox-padding(1em);

        // アイコン
        .profile-icon-link {
            @include rbox-float(left);
            @include rbox-margin($right: 1em, $bottom: 1em);
            @include rbox-opacity-styled-link;
            @include rbox-thumbnail-icon($bg: true,
                $icon: image-url($rbox-profile-icon),
                $icon-2x: image-url($rbox-profile-icon-2x),
                $with-border: true);
            display: block;
            .profile-icon {
                display: none;
            }
        }

        // ID
        .id {
            @include rbox-margin($bottom: 1em);
            display: block;
            overflow: hidden;
            a[href$="/pro"] {
                display: none;
            }
        }

        // 説明
        .profile-description {
            @include rbox-margin($bottom: 1em);
            display: block;
            overflow: hidden;
        }

        // フォローボタンボックス
        .hatena-follow-button-box {
            @include rbox-float-clear;
            @include rbox-margin(0);
            display: block;
        }

    }

}


/*====================================================================================================================
 * モジュール#NewEntry
 *  [Title]
 *      New Entry
 *====================================================================================================================*/

// デフォルトサムネイルアイコン
$rbox-module-new-entries-default-thumbnail-icon: "site-icon.png";
$rbox-module-new-entries-default-thumbnail-icon-2x: "site.png";

// サムネイルアイコンスペース
$rbox-module-new-entries-thumbnail-icon-spacing: 0.5em;

// サムネイルアイコンリンクサイズ
$rbox-module-new-entries-thumbnail-icon-link-size:
    ($rbox-thumbnail-icon-size + $rbox-module-new-entries-thumbnail-icon-spacing * 2);

// コンテナ
#box2 .hatena-module-recent-entries {

    // タイトル
    .hatena-module-title {
        &:before {
            @include rbox-icon-awesome("\f0ca");
        }
    }

    // ボディ
    .hatena-module-body {

        // リスト
        .recent-entries {
            @include rbox-padding($vertical: 0.5em);
            display: block;
            .recent-entries-item {
                display: block;
                .recent-entries-item-inner {
                    @include rbox-position(relative);
                    @include rbox-row-select-styled-link(
                        $active-background-color: rgba($rbox-light-accent-color, 0.5),
                        $active-border-color: $rbox-accent-color);
                    display: block;
                    &:before, .recent-entries-image-link {
                        @include rbox-position(absolute,
                            $left: $rbox-module-new-entries-thumbnail-icon-spacing,
                            $top: $rbox-module-new-entries-thumbnail-icon-spacing);
                        display: block;
                    }
                    &:before {
                        @include rbox-thumbnail-icon($bg: true,
                            $icon: image-url($rbox-module-new-entries-default-thumbnail-icon),
                            $icon-2x: image-url($rbox-module-new-entries-default-thumbnail-icon-2x),
                            $with-border: true);
                        content: "";
                    }
                    .recent-entries-image-link, .recent-entries-image-link img {
                        @include rbox-thumbnail-icon;
                    }
                    .recent-entries-title-link {
                        @include rbox-height-range($min: $rbox-module-new-entries-thumbnail-icon-link-size);
                        @include rbox-padding(
                            $rbox-module-new-entries-thumbnail-icon-spacing,
                            $left: $rbox-module-new-entries-thumbnail-icon-link-size);
                        display: block;
                        font: inherit;
                    }
                }
            }
        }

    }

}


/*====================================================================================================================
 * モジュール#Tweets
 *  [Title]
 *      Tweets
 *  [HTML]
 *      <div class="hatena-module-tweets-top">
 *          <a href="https://twitter.com/intent/follow?screen_name=akihyro"
 *              class="twitter-follow-link"
 *          >Follow @akihyro</a>
 *      </div>
 *      <div class="hatena-module-tweets-timeline">
 *          <a href="https://twitter.com/akihyro"
 *              class="twitter-timeline"
 *              data-widget-id="459605066517737472"
 *              data-chrome="noheader nofooter noborders transparent"
 *          >Tweets by @akihyro</a>
 *      </div>
 *====================================================================================================================*/

// コンテナ
#box2 .hatena-module-html {

    // タイトル
    .hatena-module-title {
        &:before {
            @include rbox-icon-awesome("\f099");
        }
    }

    // ボディ
    .hatena-module-body {
        .hatena-module-tweets-top {
            @include rbox-padding(0.25em);
            border-bottom: dashed 1px $rbox-dark-base-color;
            .twitter-follow-link {
                @include border-radius(0.25em);
                @include rbox-background-color-styled-link(
                    $rbox-twitter-text-color, $rbox-twitter-color, $rbox-light-twitter-color);
                @include rbox-padding($horizontal: 0.5em, $vertical: 0.25em);
                display: block;
                text-align: center;
                &:before {
                    @include rbox-icon-awesome-with-spacing("\f099", $spacing: right);
                }
            }
        }
        .hatena-module-tweets-timeline {
            @include rbox-padding($left: 0.5em);
            iframe {
                width: 100%;
            }
        }
    }

}


/*====================================================================================================================
 * モジュール#Category
 *  [Title]
 *      Category
 *====================================================================================================================*/

// コンテナ
#box2 .hatena-module-category {

    // タイトル
    .hatena-module-title {
        &:before {
            @include rbox-icon-awesome("\f02c");
        }
    }

    // ボディ
    .hatena-module-body {
        @include rbox-padding(0.5em);

        // リスト
        .hatena-urllist {
            display: block;
            li {
                @include inline-block;
                a {
                    @include rbox-category-link;
                }
            }
        }

    }

}


/*====================================================================================================================
 * モジュール#Archive
 *  [Title]
 *      Archive
 *====================================================================================================================*/

// コンテナ
#box2 .hatena-module-archive {

    // タイトル
    .hatena-module-title {
        &:before {
            @include rbox-icon-awesome("\f133");
        }
    }

    // ボディ
    .hatena-module-body {
        @include rbox-padding(0.5em);

        // リスト
        .hatena-urllist {
            .archive-module-year {
                .archive-module-button {
                    .archive-module-hide-button {
                    }
                    .archive-module-show-button {
                    }
                }
                .archive-module-year-title {
                }
                .archive-module-months {
                    .archive-module-month {
                        .archive-module-month-title {
                        }
                    }
                }
            }
        }

    }

}
