/* コンテナ::コンテンツ::サイドバー::モジュール */


/*====================================================================================================================
 * モジュール
 *====================================================================================================================*/

// コンテナ
#box2 .hatena-module {
    @include rbox-content-item-box;

    // タイトル
    .hatena-module-title {
        @include border-top-radius(inherit);
        @include rbox-padding($horizontal: 0.5em, $vertical: 0.25em);
        background-color: $rbox-light-main-color;
        color: $rbox-invert-text-color;
        a {
            @include rbox-underline-styled-link;
        }
    }

    // ボディ
    .hatena-module-body {
    }

}


/*====================================================================================================================
 * モジュール#Search
 *  [Title]
 *      Search
 *====================================================================================================================*/

// コンテナ
#box2 .hatena-module-search-box {

    // タイトル
    .hatena-module-title {
        &:before {
            @include rbox-icon-awesome("\f002");
        }
    }

    // ボディ
    .hatena-module-body {
        form {
            @include rbox-margin(0);
            @include rbox-padding(0);
            height: 100%;
            width: 100%;
            .search-module-input {
                @include rbox-margin(0);
                @include rbox-padding(1em);
                background-color: transparent;
                border-style: none;
                height: 100%;
                width: 100%;
            }
            .search-module-button {
                display: none;
            }
        }
    }

}
