/* コンテナ::コンテンツ::メイン::ページャ */


/*====================================================================================================================
 * ページャ
 *====================================================================================================================*/

// ページリンクコンテナ
@mixin rbox-page-link-container($side) {
    @include rbox-float($side);
    @include rbox-margin($bottom: 1em);
    display: block;
    text-align: $side;

    // リンク
    a {
        @include border-radius(0.25em);
        @include rbox-background-color-styled-link($rbox-invert-text-color, $rbox-sub-color, $rbox-light-sub-color);
        @include rbox-padding($horizontal: 1em, $vertical: 0.5em);
        display: block;
        font-size: 0.875em;
        &:#{if($side == left, before, after)} {
            @include rbox-icon-awesome-with-spacing(if($side == left, "\f100", "\f101"), opposite-position($side));
        }
        .pager-arrow {
            display: none;
        }
    }

}

// コンテナ
#main .pager {
    @include rbox-float-container;

    // 前ページリンクコンテナ
    .pager-prev {
        @include rbox-page-link-container(left);
    }

    // 次ページリンクコンテナ
    .pager-next {
        @include rbox-page-link-container(right);
    }

}
