/* ユーティリティ */


/*====================================================================================================================
 * 余白
 *====================================================================================================================*/

// マージン
@mixin rbox-margin($all: null,
    $vertical: null, $top: null, $bottom: null, $horizontal: null, $left: null, $right: null) {
    margin: $all;
    margin-bottom: $vertical;
    margin-bottom: $bottom;
    margin-left: $horizontal;
    margin-left: $left;
    margin-right: $horizontal;
    margin-right: $right;
    margin-top: $vertical;
    margin-top: $top;
}

// マージン（位置指定）
@mixin rbox-margin-at($position, $value) {
    margin-#{$position}: $value;
}

// パディング
@mixin rbox-padding($all: null,
    $vertical: null, $top: null, $bottom: null, $horizontal: null, $left: null, $right: null) {
    padding: $all;
    padding-bottom: $vertical;
    padding-bottom: $bottom;
    padding-left: $horizontal;
    padding-left: $left;
    padding-right: $horizontal;
    padding-right: $right;
    padding-top: $vertical;
    padding-top: $top;
}

// パディング（位置指定）
@mixin rbox-padding-at($position, $value) {
    padding-#{$position}: $value;
}


/*====================================================================================================================
 * ボーダー
 *====================================================================================================================*/

// ソフトボーダー
@mixin rbox-soft-border {
    @include box-shadow(0 0 2px rgba(black, 0.25));
}


/*====================================================================================================================
 * 位置/サイズ
 *====================================================================================================================*/

// センタリングブロック
@mixin rbox-center-block {
    @include rbox-margin($horizontal: auto);
    display: block;
}

// ポジション
@mixin rbox-position($position, $left: null, $right: null, $top: null, $bottom: null) {
    bottom: $bottom;
    left: $left;
    position: $position;
    right: $right;
    top: $top;
}

// 幅レンジ
@mixin rbox-width-range($min: 0, $max: none) {
    @include min-width($min);
    max-width: $max;
}

// 正方形サイズ
@mixin rbox-square-size($size) {
    height: $size;
    width: $size;
}


/*====================================================================================================================
 * フロート
 *====================================================================================================================*/

// フロート
@mixin rbox-float($side) {
    @include float($side);
}

// フロートクリア
@mixin rbox-float-clear {
    clear: both;
}

// フロートコンテナ
@mixin rbox-float-container {
    &:after {
        @include rbox-float-clear;
        content: "";
        display: block;
    }
}


/*====================================================================================================================
 * テキストレンダリング
 *====================================================================================================================*/

// テキストサイズ調整なし
@mixin rbox-text-size-adjust-none {
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

// フォントスムージング
@mixin rbox-font-smoothing($value: true) {
    -moz-osx-font-smoothing: if($value, grayscale, auto);
    -webkit-font-smoothing: if($value, antialiased, subpixel-antialiased);
}
